<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
        integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/Logo.png">
    <title>SusBot</title>
</head>

<body id="body">

    <nav class="navbar">
        <a class="title" href="index.html"><img src="/Logo.png" style="width: 64px; margin: 5px; border-radius: 64px;"> SusBot</a>
        <a href="invite.html">Invite</a>
        <a class="selected" href="command.html">Commands</a>
        <a href="aboutme.html">About Me</a>
    </nav>

    <div id="loader"></div>

    <br>
    <br>
    <br>

    <script>
        var inputValue = localStorage.getItem('input') || "";
        function selectedValue(value) {
            localStorage.setItem('selected', value);
            if (value === "1") {
                localStorage.setItem('input', 'among');
            } else if (value === "2") {
                localStorage.setItem('input', 'set');
            } else {
                localStorage.setItem('input', "");
            }
            location.reload();
        }
    </script>

    <table class="table app" id="table">
        <script>
            var array = [];
            var arraynot = [];
            var commands = ["setprefix\
            setlang\
            setcolor\
            info\
            donate\
            patreon\
            help\
            link\
            amongus\
            amongusstop\
            ping\
            uptime\
            map\
            polus\
            skeld\
            mira\
            setcode\
            resetcode\
            code\
            lock\
            unlock\
            suggestion"];
            var abc = "abcdefghijklmnopqrstuvwxyz";
            var abcnot = "";

            for (let i = 0; i < abc.length; i++) {
                if (!array.includes(abc.charAt(i))) {
                    array.push(abc.charAt(i).toUpperCase());
                }
                for (let j = 0; j < commands.length; j++) {
                    if (!commands[j].includes(abc.charAt(i).toLowerCase())) {
                        if (!abcnot.includes(abc.charAt(i).toUpperCase())) {
                            abcnot += `${abc.charAt(i).toUpperCase()} `;
                        }
                    }
                }
            }

            for (let i = 0; i < abcnot.length; i++) {
                if (!arraynot.includes(abcnot.charAt(i))) {
                    arraynot.push(abcnot.charAt(i));
                }
            }

            var letters = array.join(" - ");
        </script>
        <form>
            <label>
                <h5>Search: </h5>
            </label><br>
            <input v-model="filter" id="input"
                onchange="inputValue = this.value; localStorage.setItem('input', this.value); location.reload()">
            <button type="submit"
                onclick="localStorage.removeItem('input'); localStorage.removeItem('selected'); location.reload()">Clear</button>
        </form>
        <br>
        <p>
            <script>
                for (let i = 0; i < letters.length; i++) {
                    if (letters.charAt(i) === "-" || letters.charAt(i) === " ") {
                        document.write(letters.charAt(i));
                    } else {
                        if (arraynot.includes(letters.charAt(i))) {
                            document.write(`<a style="color: grey; cursor: default; opacity: 0.5;">${letters.charAt(i)}</a>`);
                        } else {
                            let b = localStorage.getItem('input');
                            console.log(b);
                            if (b === letters.charAt(i).toLowerCase()) {
                                document.write(`<a style="font-size: 35px" onclick="let a = localStorage.setItem('input', letters.charAt(${i}).toLowerCase()); location.reload();">${letters.charAt(i)}</a>`);
                            } else {
                                document.write(`<a onclick="let a = localStorage.setItem('input', letters.charAt(${i}).toLowerCase()); location.reload();">${letters.charAt(i)}</a>`);
                            }
                        }
                    }
                }
            </script>
        </p>
        <select id="d" onchange="selectedValue(this.value)">
            <script>
                let selected = localStorage.getItem('selected');
                console.log(selected);
                if (selected === "1") {
                    document.write('<option value="" disabled hidden>Choose a theme</option>');
                    document.write('<option value="1" selected>Among Us commands</option>');
                    document.write('<option value="2">Set commands</option>');
                    document.write('<option value="3">Other commands...</option>');
                } else if (selected === "2") {
                    document.write('<option value="" disabled hidden>Choose a theme</option>');
                    document.write('<option value="1">Among Us commands</option>');
                    document.write('<option value="2" selected>Set commands</option>');
                    document.write('<option value="3">Other commands...</option>');
                } else if (selected === "3") {
                    document.write('<option value="" disabled hidden>Choose a theme</option>');
                    document.write('<option value="1">Among Us commands</option>');
                    document.write('<option value="2">Set commands</option>');
                    document.write('<option value="3" selected>Other commands...</option>');
                } else {
                    document.write('<option value="" selected disabled hidden>Choose a theme</option>');
                    document.write('<option value="1">Among Us commands</option>');
                    document.write('<option value="2">Set commands</option>');
                    document.write('<option value="3">Other commands...</option>');
                }
            </script>
        </select>

        <!-- <script>
            var inputValue = "";
            function valueThing() {
                inputValue = document.getElementById('input').value;
            }
        </script> -->
        <thead>
            <tr>
                <th>#</th>
                <th>Command</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr name="tr" class="commands" v-for="command in filteredCommands"
                v-show="command.command.includes(inputValue)">
                <td>
                    <h4 v-show="command.new === '1'">#NEW!</h4>
                    <h4 v-show="command.new === '0'">#</h4>
                    <!-- <p id="k"></p> -->
                </td>
                <td>
                    <script>
                        function hash(g) {
                            var encrypted = CryptoJS.AES.encrypt(g, "Secret Passphrase");
                            return encrypted;
                        }
                    </script>
                    <h4><a class="name" v-bind:href="'commands.html?id='+ hash(command.id)">{{command.command}}</a></h4>
                </td>
                <td>
                    <h4><a class="response" v-bind:href="'commands.html?id='+ hash(command.id)">{{command.response}}</a>
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- <h1 class="text-center"><img src="../Logo.png" class="mainimage"></h1> -->
</body>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.0.0/marked.min.js"></script>
<script src="../js/commands.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        $("#loader").fadeOut(500);
    });

    $('.ghostly').animate({
        opacity: '1'
    }, 3000);

    $(document).on('click', "nav > a", function (event) {
        event.preventDefault();
        document.getElementById('body').style.cursor = "wait";
        $.when($("#loader").fadeIn(1560).promise(), $.ajax({
            url: this.href,
            type: 'get',
            dataType: 'html'
        })).done(function (html) {
            // console.log(event.target.href);
            location = event.target.href;
        });
    });
</script>


</html>